<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- log file parent path -->
    <springProperty scope="context" name="LOG_HOME" source="logging.path" defaultValue="/opt/logs/"/>
    <!--  log level -->
    <springProperty scope="context" name="LOG_ROOT_LEVEL" source="logging.level.root" defaultValue="DEBUG"/>

    <!-- log file name-->
    <property name="LOG_FILE_NAME" value="springSample" />
    
    <property name="LOG_DIR" value="${LOG_HOME}/%d{yyyy-MM-dd}"/>

    <!--  max file size -->
    <property name="MAX_FILE_SIZE" value="100MB" />
    
    <!--  log message format -->
    <property name="LOG_MSG" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n" />

    <!-- Console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>${LOG_MSG}</pattern>
    	</encoder>
    </appender>

    <!-- all log output -->
    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- all log file name -->
        <File>${LOG_HOME}/${LOG_FILE_NAME}.log</File>
		<!-- rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>${LOG_MSG}</pattern>
    	</encoder>
    </appender>

    <!-- error log output -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- error log level -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <!-- error log file name -->
        <File>${LOG_HOME}/${LOG_FILE_NAME}_error.log</File>
		<!-- rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}_error.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      		<pattern>${LOG_MSG}</pattern>
    	</encoder>
    </appender>

    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_ALL"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>

</configuration>